[Desktop Entry]
Name=FDCurses
StartupWMClass=fdcurses
GenericName=K6GTE Field Day Logger
Comment=ARRL Field Day Logger
Keywords=console;commandline;amateur radio;ham;logger;
Exec=fdcurses
Icon=k6gte-fdcurses
Terminal=true
Type=Application
Categories=HamRadio;
StartupNotify=true
X-GNOME-SingleWindow=true
